// sass styles.scss styles.css
// sass --watch styles.scss:styles.css
/*  colors  */
$body-background-color: darkred;
$form-background-color: #e6ac00;
$headlines-color: white;
$input-box-color: white;

//set breakpoint sizes
$break-small: 25em;
$break-medium: 25em;
$break-large: 60em;

// mixins

@mixin center($width, $max-width: 960px) {
    width: $width;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }  

@mixin breakpoint($break) {
@if $break == large {
@media (min-width: $break-large) { @content; }
}
@else if $break == medium {
@media (min-width: $break-medium) { @content; }
}
@else if $break == small {
    @media (max-width: $break-small) { @content; }
    }
}

@mixin flex-container($axis, $justify-content){
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: $axis;
    -ms-flex-flow: $axis;
    flex-flow: $axis;
    justify-content: $justify-content;
}


body {
    background-color: lighten($body-background-color, 5%);
}

h1{
    color: $headlines-color;
}

#contactform {
    background-color: $form-background-color;
    div{
        margin: 15px;
        @include flex-container(row, flex-end);
        overflow: hidden;
    }
    input:not([type=submit]), textarea {
        background-color: $input-box-color;
        flex: 2;
        margin-left: 10px;
    }
    @include breakpoint(small) { 
        & {
        @include center(100%, 320px);
        div{
            margin: 0;
            @include flex-container(column, flex-start);
            input:not([type=submit]), textarea {
                width: 100%;
                margin-left: 0px;
                }
            }        
        }  
    }

    @include breakpoint(medium) { 
        & {
        @include center(90%, 700px);
        input:not([type=submit]), textarea {
            max-width: 60%;
                }
            }  
    }

    @include breakpoint(large) { 
        & {
            @include center(70%);
            input:not([type=submit]), textarea {
                max-width: 60%;                
                }
            }
     }
}
   