// sass styles.scss styles.css
// sass --watch styles.scss:styles.css
/*  colors  */
$body-background-color: darkred;
$form-background-color: white;
$headlines-color: white;
$input-box-color: white;
$break-medium: 800px;
$break-large: 1100px;

@mixin center($width, $max-width: 960px) {
    width: $width;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }

  //set breakpoint sizes
$break-small: 20em;
$break-medium: 31em;
$break-large: 60em;

@mixin breakpoint($break) {
@if $break == large {
@media (min-width: $break-large) { @content; }
}
@else if $break == medium {
@media (min-width: $break-medium) { @content; }
}
@else if $break == small {
    @media (max-width: $break-small) { @content; }
    }
}


body {
    background-color: lighten($body-background-color, 20%);
}

#contactform {
    background-color: $form-background-color;
    input, textarea {
        background-color: $input-box-color;
        flex: 2;
    }
    @include breakpoint(small) { 
        & {
        @include center(100%, 320px);
        input:not([type=submit]), textarea {
                    width: 100%;
                    margin-right: auto;
                    margin-left: auto;
                }
            }  
    }

    @include breakpoint(medium) { 
        & {
        @include center(90%, 700px);
        input:not([type=submit]), textarea {
            width: 60%;
            margin-right: 0;
        }
            }  
    }

    @include breakpoint(large) { 
        & {
            @include center(70%);
            input:not([type=submit]), textarea {
                width: 60%;
                margin-right: 0;
            }
            }
     }
}
   